$hover-backcolor : white;
$nav-color : white;
$hover-color : red;
body{
	background : url("../images/background.jpg");
}
.navbar{
	background-color : red;
	margin : 0;
	
}

.nav{
	a{
	color : $nav-color;
	}
	a:hover{
		background-color : $hover-backcolor;
		color : $hover-color;
	}
}

.navbar-toggle{
	background-color : gainsboro;
}

.active{
	background-color : $hover-backcolor;
	a{
		color : $hover-color;
	}
}

.header{
	margin : 10px;
	margin-top : 25px;
	position : relative;
}

#brand{
	font-size : 50px;
	position : absolute;
	top : 30px;
	margin : 0;
	padding : 0;
}

.content{
	padding-left : 0;
}


#no{
	font-size:20px;
	font-weight : bold;
}

#info{
	position : absolute;
	text-align : right;
	right : 30px;
	top : 0px;
	height : 350px;
	font-size : 14px;

}

.jumbotron{
	margin : 0;
}

.block1{
	margin-top : 20px;
}

.pres{
	border : 1px #b3afaf solid;
	padding:20px;
  	h1{
  		font-size : 36px;
  		color : rgb(189,79,79);
  	}
  	p{
  		padding : 10px;
  		margin-top : 10px;
  		font-size : 18px;
  	}
}




.news{
	border: black 3px;
}

.list{
	padding : 20px;
	padding-left : 50px;
	margin-bottom : 40px;
	.list-head{
		text-align : left;
		color:red;
		font-size : 18px;
		padding-bottom : 20px;

	}
	ul{
		padding-left : 15px;
		list-style : disc;
	}
	li{
		padding : 10px;
		font-size : 16px;
	}
}

.lastpara{
	font-size : 18px;
	padding: 30px;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    width : 580px;
    left: 50%;
    transform: translatex(-50%);
  }
}


footer{
	height : 100px;
	margin-top : 10px;
	background-color : #dcdcff;

}